* 
{ 
    margin: 0;
    font-family: sans-serif;
}

header
{
    display:flex;
    justify-content:space-between;
    height:20vh;
    background-color:orange;
    padding: 10px;
    box-shadow: 0px 0px 0px 2px;
}
.info{
    display:flex;
    align-items: center;
    text-align: right;
    
}
.ocupacion{
    text-decoration: underline;
}


.contenedor
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.descripcion
{
    border:solid orange 5px;
    width:140vh;
}
.descripcion>article{
    padding: 5px;
    font-size: 2vh;
}

.lista-pasatiempo{
    border: solid orange 5px;
    width: 50vh;
}
.lista-pasatiempo>h2{
    padding: 10px;
    font-size: 5vh;

}
.lista-pasatiempo>a{
    padding: 10px;
    font-size: 2vh;
}
.lista-pasatiempo>ol{
    list-style: none;
    font-size: 3vh;
}
.materias{
    padding: 10px;
    font-size: 3vh;
}
th,td{
    border:solid orange 1px;
    
    text-align: center;
}

#contenedor-horario
{
    margin: 10px;
    width:140vh; 
    border: solid orange 5px;  
}
#contenedor-horario>h1{
    text-align: center;
}
footer{
    border:solid orange 1px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    font-size: 3vh;
    font-family: cursive;
}